lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# ignore Apple DS Store
*.DS_Store

# ignore IntelliJ project files
*.idea
*.iml
\#*\#

# ignore the log directry
logs/

# ignore log files
*.log

# ignore swap files
*.swp

# ignore tags file
tags

# emacs turds
*~

# pid files
*.pid

# C temp files
*.[oa]

